/*===============================================================================*/
/* Made By Evaldo Silva on 21/07/2019                                            */
/* GITHUB: https://github.com/evaldosilva                                        */
/*===============================================================================*/

/*===============================================================================*/
/* Website title area                                                            */
/*===============================================================================*/
.title-jumbotron {
  background-color: lightblue;
  color: #333;
  padding: 20px 50px;
  margin: 10px 10px;
  border-radius: 10px;
}
/*===============================================================================*/
